[user]
	name = Michele Bertolino
	email = mikbert92@gmail.com
[core]
	editor = vim
[diff]
	tool = vimdiff
[push]
	default = simple
	autoSetupRemote = true
[remote]
	pushDefault = https://github.com/mi-mmo-reb/config
